/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [AdminId]
      ,[Username]
      ,[password]
  FROM [AtmBanking].[dbo].[admin]
  select * from admin
  select * from transactionDetails